<form class="{{cssClass}}" autocomplete="off">
    <header class="sheet-header">
        <img src="{{item.img}}" data-edit="img" title="{{item.name}}" height="64" width="64"/>
        <h1><input name="name" type="text" value="{{system.times}} × {{system.description}} {{signed_number system.ba}} ({{system.damage_description}})"/></h1>
    </header>
    <div class="monster-attack">
        {{!-- Propriedades --}}
        <div class="properties">
            <label class="tab-title">{{localize "olddragon2e.properties"}}</label>
            {{!-- Vezes --}}
            <div class="times">
                <label class="font-bold">{{localize "olddragon2e.times"}}</label>
                <input name="system.times" type="text" value="{{system.times}}" data-dtype="Number">
            </div>
            {{!-- Descrição --}}
            <div class="description">
                <label class="font-bold">{{localize "olddragon2e.description"}}</label>
                <input name="system.description" type="text" value="{{system.description}}" data-dtype="String">
            </div>
            {{!-- BA --}}
            <div class="ba">
                <label class="font-bold">{{localize "olddragon2e.ba_short"}}</label>
                <input name="system.ba" type="text" value="{{system.ba}}" data-dtype="Number">
            </div>
            {{!-- Descrição do Dano --}}
            <div class="damage-description">
                <label class="font-bold">{{localize "olddragon2e.damage_description"}}</label>
                <input name="system.damage_description" type="text" value="{{system.damage_description}}" data-dtype="String">
            </div>
            {{!-- Dano --}}
            <div class="damage">
                <label class="font-bold">{{localize "olddragon2e.damage"}}</label>
                <input name="system.damage" type="text" value="{{system.damage}}" data-dtype="String">
            </div>
            {{!-- Bônus no dano --}}
            <div class="damage-bonus">
                <label class="font-bold">{{localize "olddragon2e.bonus_damage"}}</label>
                <input name="system.damage_bonus" type="text" value="{{system.damage_bonus}}" data-dtype="Number">
            </div>
            {{!-- Arma --}}
            <div class="checkboxes">
                <div class="checkbox">
                    <input class="weapon-checkbox" name="system.weapon" type="checkbox" {{checked system.weapon}}>
                    <label class="font-bold">{{localize "olddragon2e.weapon"}}</label>
                </div>
            </div>
        </div>
        {{!-- Descrição --}}
        <div class="description">
            <label class="tab-title">{{localize "olddragon2e.description"}}</label>
            <textarea name="system.text" data-dtype="String" disabled>{{system.times}} × {{system.description}} {{signed_number system.ba}} ({{system.damage_description}})</textarea>
        </div>
    </div>
</form>
