<form class="{{cssClass}}" autocomplete="off">

    <div class="sheet-container">
        {{!-- Sidebar --}}
        <div class="sidebar">
            {{!-- Retrato --}}
            <div class="portrait">
                <img src="{{actor.img}}" data-edit="img" title="{{actor.name}}">
            </div>
            {{!-- Características (Classe de Armadura; Jogada de Proteção; Moral; Dado de Vida; Dado de Vida Bônus; Encontro; Tesouros) --}}
            <div class="stats">
                {{!-- CA | Classe de Armadura --}}
                <div class="stat">
                    <label class="font-bold">{{localize "olddragon2e.ac_short"}}</label>
                    <input name="system.ca" type="text" value="{{system.ca}}" data-dtype="String">
                </div>
                {{!-- JP | Jogada de Proteção --}}
                <div class="stat">
                    <a class="font-bold jp-roll" title="Rolar jogada de proteção"><i class="fa-thin fa-dice-d20"></i>{{localize "olddragon2e.jp_short"}}</a>
                    <input name="system.jp" type="text" value="{{system.jp}}" data-dtype="String">
                </div>
                {{!-- MO | Moral --}}
                <div class="stat">
                    <a class="font-bold mo-roll" title="Rolar teste de moral"><i class="fa-thin fa-dice-d20"></i>{{localize "olddragon2e.mo_short"}}</a>
                    <input name="system.mo" type="text" value="{{system.mo}}" data-dtype="String">
                </div>

                <hr>

                {{!-- Encontro --}}
                <div class="encounter">
                    <label class="font-bold">{{localize "olddragon2e.encounter"}}</label>
                    <div class="encounter-values">
                        {{!-- Encontro (Errantes) --}}
                        <div class="encounter-value">
                            <input name="system.encounters" type="text" value="{{system.encounters}}" data-dtype="String">
                            <label class="text-xs">{{localize "olddragon2e.group"}}</label>
                        </div>
                        {{!-- Encontro (Covil) --}}
                        <div class="encounter-value">
                            <input name="system.encounters_lair" type="text" value="{{system.encounters_lair}}" data-dtype="String">
                            <label class="text-xs">{{localize "olddragon2e.lair"}}</label>
                        </div>
                    </div>
                </div>

                <hr>

                {{!-- Tesouro --}}
                <div class="treasure">
                    <label class="font-bold">{{localize "olddragon2e.treasure"}}</label>
                    <div class="treasure-values">
                        {{!-- Tesouro (Errantes) --}}
                        <div class="treasure-value">
                            <input name="system.treasure" type="text" value="{{system.treasure}}" data-dtype="String">
                            <label class="text-xs">{{localize "olddragon2e.group"}}</label>
                        </div>
                        {{!-- Tesouro (Covil) --}}
                        <div class="treasure-value">
                            <input name="system.treasure_lair" type="text" value="{{system.treasure_lair}}" data-dtype="String">
                            <label class="text-xs">{{localize "olddragon2e.lair"}}</label>
                        </div>
                    </div>
                </div>

                <hr>

                {{!-- Dado de Vida --}}
                <div class="dv">
                    <label class="font-bold">{{localize "olddragon2e.dv_long"}}</label>
                    <div class="dv-values">
                        {{!-- DV --}}
                        <div class="dv-value">
                            <input name="system.dv" type="text" value="{{system.dv}}" data-dtype="String">
                            <a class="text-xs font-bold dv-roll" title="Rolar pontos de vida"><i class="fa-thin fa-dice-d20"></i>{{localize "olddragon2e.dv_short"}}</a>
                        </div>
                        {{!-- DV Bônus --}}
                        <div class="dv-bonus-value">
                            <input name="system.dv_bonus" type="text" value="{{system.dv_bonus}}" data-dtype="String">
                            <label class="text-xs" title="{{localize 'olddragon2e.dv_bonus'}}">{{localize "olddragon2e.dv_bonus"}}</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        {{!-- Body --}}
        <div class="body">
            {{!-- Header --}}
            <div class="header">
                
                {{!-- Nome --}}
                <div class="name">
                    <input name="name" type="text" value="{{actor.name}}">
                    <label class="font-bold">{{localize "olddragon2e.name"}}</label>
                </div>

                {{!-- Conceito; Tamanho; Habitat --}}
                <div class="basic-info">
                    {{!-- Conceito --}}
                    <div class="concept">
                        <select name="system.concept">
                            {{selectOptions config.monster_concepts selected=system.concept localize=true}}
                        </select>
                        <label class="font-bold">{{localize "olddragon2e.concept"}}</label>
                    </div>
                    {{!-- Tamanho --}}
                    <div class="size">
                        <select name="system.size">
                            {{selectOptions config.monster_sizes selected=system.size localize=true}}
                        </select>
                        <label class="font-bold">{{localize "olddragon2e.size"}}</label>
                    </div>
                    {{!-- Habitat --}}
                    <div class="habitat">
                        <select name="system.habitat">
                            {{selectOptions config.monster_habitats selected=system.habitat localize=true}}
                        </select>
                        <label class="font-bold">{{localize "olddragon2e.habitat"}}</label>
                    </div>
                </div>

                <hr>

                {{!-- Alinhamento; Movimento; Experiência; Pontos de Vida --}}
                <div class="additional-info">
                    {{!-- Alinhamento --}}
                    <div class="alignment">
                        <label class="font-bold">{{localize "olddragon2e.alignment"}}</label>
                        <select name="system.alignment">
                            {{selectOptions config.alignment selected=system.alignment localize=true}}
                        </select>
                    </div>
                    {{!-- Movimento --}}
                    <div class="mv">
                        <label class="font-bold">{{localize "olddragon2e.mv"}}</label>
                        <div class="mv-values">
                            {{!-- Base --}}
                            <div class="mv-value">
                                <input name="system.mv" type="text" value="{{system.mv}}" data-dtype="String">
                                <label class="text-xs">{{localize "olddragon2e.base"}}</label>
                            </div>
                            {{!-- Correr --}}
                            <div class="mv-value">
                                <input name="system.mvc" type="text" value="{{system.mvc}}" data-dtype="Number" disabled>
                                <label class="text-xs">{{localize "olddragon2e.mv_run"}}</label>
                            </div>
                            {{!-- Escalar --}}
                            <div class="mv-value">
                                <input name="system.mve" type="text" value="{{system.mve}}" data-dtype="Number" disabled>
                                <label class="text-xs">{{localize "olddragon2e.mv_climb"}}</label>
                            </div>
                            {{!-- Nadar --}}
                            <div class="mv-value">
                                <input name="system.mvn" type="text" value="{{system.mvn}}" data-dtype="String">
                                <label class="text-xs">{{localize "olddragon2e.mv_swim"}}</label>
                            </div>
                            {{!-- Voar --}}
                            <div class="mv-value">
                                <input name="system.mvv" type="text" value="{{system.mvv}}" data-dtype="String">
                                <label class="text-xs">{{localize "olddragon2e.mv_fly"}}</label>
                            </div>
                        </div>
                    </div>
                    {{!-- XP | Experiência --}}
                    <div class="xp">
                        <label class="font-bold">{{localize "olddragon2e.xp_short"}}</label>
                        <input name="system.xp" type="text" value="{{system.xp}}" data-dtype="Number">
                    </div>
                    {{!-- PV | Pontos de Vida --}}
                    <div class="hp">
                        <label class="font-bold">{{localize "olddragon2e.hp_short"}}</label>
                        <div class="hp-values">
                            {{!-- PV Atual --}}
                            <div class="hp-value">
                                <input name="system.hp.value" type="text" value="{{system.hp.value}}" data-dtype="Number">
                                <label class="text-xs font-bold">{{localize "olddragon2e.current"}}</label>
                            </div>
                            {{!-- PV Total --}}
                            <div class="hp-value">
                                <input name="system.hp.max" type="text" value="{{system.hp.max}}" data-dtype="Number">
                                <label class="text-xs font-bold">{{localize "olddragon2e.total"}}</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            {{!-- Main --}}
            <div class="main">
                {{!-- Navigation tabs --}}
                <nav class="tabs font-bold" data-group="primary-tabs" >
                    <a class="item" data-tab="attacks">{{localize "olddragon2e.navigation.monster.attacks_tab"}}</a>
                    <a class="item" data-tab="info">{{localize "olddragon2e.navigation.monster.info_tab"}}</a></a>
                </nav>

                {{!-- Navigation section --}}
                <section class="section">
                    {{!-- Ataques --}}
                    <div class="tab" data-group="primary-tabs" data-tab="attacks">
                        {{> systems/olddragon2e/templates/partials/tabs/monster-tab-attacks.hbs}}
                    </div>
                    {{!-- Descrição --}}
                    <div class="tab" data-group="primary-tabs" data-tab="info">
                        {{> systems/olddragon2e/templates/partials/tabs/monster-tab-info.hbs}}
                    </div>
                </section>
            </div>
        </div>
    </div>
</form>
