<form class="{{cssClass}}" autocomplete="off">
    <header class="sheet-header">
        <img src="{{item.img}}" data-edit="img" title="{{item.name}}" height="64" width="64"/>
        <h1><input name="name" type="text" value="{{item.name}}"/></h1>
    </header>
    <div class="main">
        {{!-- Navigation tabs --}}
        <nav class="race-tabs font-bold" data-group="primary-tabs" >
            <a class="item" data-tab="about">{{localize "olddragon2e.navigation.race.about_tab"}}</a>
            <a class="item" data-tab="features">{{localize "olddragon2e.navigation.race.features_tab"}}</a></a>
            <a class="item" data-tab="race-abilities">{{localize "olddragon2e.navigation.race.abilities_tab"}}</a></a>
        </nav>
        {{!-- Navigation section --}}
        <section class="section">
            {{!-- Sobre --}}
            <div class="tab" data-group="primary-tabs" data-tab="about">
                {{> systems/olddragon2e/templates/partials/tabs/race-tab-about.hbs}}
            </div>
            {{!-- Características --}}
            <div class="tab" data-group="primary-tabs" data-tab="features">
                {{> systems/olddragon2e/templates/partials/tabs/race-tab-features.hbs}}
            </div>
            {{!-- Habilidades de Raça --}}
            <div class="tab" data-group="primary-tabs" data-tab="race-abilities">
                {{> systems/olddragon2e/templates/partials/tabs/race-tab-abilities.hbs}}
            </div>
        </section>
    </div>
</form>