<div class="attack-text">
    <a class="item-edit" title="{{localize 'olddragon2e.open'}}">{{system.times}} × {{system.description}} {{signed_number system.ba}} ({{system.damage_description}})</a>
</div>
<div class="attack-ba">
    <a class="attack-roll border-button" title="{{localize 'olddragon2e.ba_roll'}}"><i class="fa-light fa-dice-d20"></i> {{signed_number system.ba}}</a>
</div>
<div class="attack-damage-description">
    <a class="damage-roll border-button" title="{{localize 'olddragon2e.damage_roll'}}"><i class="fa-light fa-dice-d20"></i> {{system.damage_description}}</a>
</div>
<div class="item-controls">
    <a class="item-edit" title="{{localize 'olddragon2e.edit'}}"><i class="fa-solid fa-pen-to-square"></i></a>
    <a class="item-delete" title="{{localize 'olddragon2e.delete'}}"><i class="fa-solid fa-trash"></i></a>
</div>