<div class="item-name">
    <a class="item-edit" title="{{localize 'olddragon2e.open'}}">{{truncate name 22}}</a>
</div>
<div class="item-quantity">
    <input class="item-update-quantity" type="text" value="{{system.quantity}}" data-dtype="Number">
</div>
<div class="item-weight">–</div>
<div class="item-cost">
    {{#if system.total_cost}}
    {{system.total_cost}}
    {{else}}
    0
    {{/if}}
</div>
<div class="item-description">{{truncate system.description 35}}</div>
<div class="item-controls">
    <a class="item-edit" title="{{localize 'olddragon2e.edit'}}"><i class="fa-solid fa-pen-to-square"></i></a>
    <a class="item-delete" title="{{localize 'olddragon2e.delete'}}"><i class="fa-solid fa-trash"></i></a>
</div>
