<div class="character-tab-attacks">
    {{!-- Ataques --}}
    <div class="attack">
        <div class="list">
            <div class="type"></div>
            <div class="name">{{localize "olddragon2e.weapon"}}</div>
            <div class="range">{{localize "olddragon2e.range"}}</div>
            <div class="ba">{{localize "olddragon2e.ba_short"}}</div>
            <div class="damage">{{localize "olddragon2e.damage"}}</div>
            <div class="damage-type"></div>
            <div class="description">{{localize "olddragon2e.properties"}}</div>
        </div>
        <ol>
            {{#each attack as |attack id|}}
            <li class="item attack" data-item-id="{{attack._id}}">
                {{> "systems/olddragon2e/templates/partials/cards/attack-card.hbs" attack actor=@root.system}}
            </li>
            {{/each}}
            {{!-- Ataque Desarmado --}}
            <li>
                <div class="weapon-type">
                    <img src="/systems/olddragon2e/assets/icons/unarmed.svg" title="{{localize 'olddragon2e.weapon_types.unarmed'}}">
                </div>
                <div class="weapon-name">{{localize 'olddragon2e.unarmed'}}</div>
                <div class="weapon-range">–</div>
                <div class="weapon-ba">
                    <a data-ba="bac" class="unarmed-attack-roll border-button" title="{{localize 'olddragon2e.bac_roll'}}"><i class="fa-light fa-dice-d20"></i> {{signed_number system.bac}}</a>
                </div>
                <div class="weapon-damage">
                    <a class="knockout-roll border-button" title="{{localize 'olddragon2e.knockout_roll'}}"><i class="fa-light fa-dice-d20"></i> {{localize 'olddragon2e.knockout'}}</a>
                </div>
                <div class="damage-type">
                    <img src="/systems/olddragon2e/assets/icons/bludgeoning.svg" title="{{localize 'olddragon2e.damage_types.bludgeoning'}}">
                </div>
                <div class="weapon-description">
                    Chance de
                    {{#ifCond system.mod_forca '>' 1}}
                    1-{{system.mod_forca}}
                    {{else}}
                    1
                    {{/ifCond}}
                    em 1d6
                </div>
            </li>
            {{#unless attack}}
            <p class="text-center">Equipe armas para que sejam listadas em <strong class="underline" style="color: #d72240;">Ataques</strong>.<br><em>– “Um bom aventureiro sempre está pronto para o combate.”</em></p>
            {{/unless}}
        </ol>
    </div>
</div>
