<div class="class-ability-tab-about">
    <div class="class-description">
        <label class="tab-title">{{localize "olddragon2e.class_ability_description"}}</label>
        {{editor system.description target="system.description" button=true owner=owner editable=editable}}
    </div>
    <div class="class-level-description">
        <label class="tab-title">{{localize "olddragon2e.class_ability_level3_description"}}</label>
        {{editor system.level3 target="system.level3" button=true owner=owner editable=editable}}
    </div>
    <div class="class-level-description">
        <label class="tab-title">{{localize "olddragon2e.class_ability_level6_description"}}</label>
        {{editor system.level6 target="system.level6" button=true owner=owner editable=editable}}
    </div>
    <div class="class-level-description">
        <label class="tab-title">{{localize "olddragon2e.class_ability_level10_description"}}</label>
        {{editor system.level10 target="system.level10" button=true owner=owner editable=editable}}
    </div>
</div>